
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static "gallery.css" %}">
</head>
<body>
    <div class="full-img" id="fullImgBox">
        <img src="{% static "images/img1.jpg"%}" id="fullImg" >
        <span onclick="closeFullImg()">X </span>
    </div>
    <div class="img-gallery">
        <img src="{% static "images/WhatsApp Image 2023-04-10 at 9.48.07 AM.jpeg" onclick="openFullImg(this.src)" %}">
        <img src="{% static "images/WhatsApp Image 2023-04-10 at 9.50.49 AM.jpeg" onclick="openFullImg(this.src)" %}">
        <img src="{% static "images/WhatsApp Image 2023-04-10 at 10.02.49 AM.jpeg" onclick="openFullImg(this.src)" %}" >
        <img src="{% static "images/WhatsApp Image 2023-04-10 at 9.50.50 AM.jpeg" onclick="openFullImg(this.src)" %}">
        <img src="{% static "images/IMG_0098.JPG" onclick="openFullImg(this.src)"%}" >
        <img src="{% static "images/IMG_9703.JPG" onclick="openFullImg(this.src)"%}" >
        <img src="{% static "images/IMG_9718.JPG" onclick="openFullImg(this.src)"%}" >
        <img src="{% static "images/IMG_9856.JPG" onclick="openFullImg(this.src)"%}" >
    </div>
    
    <script>
        var fullImgBox = document.getElementById("fullImgBox");
        var fullImg = document.getElementById("fullImg");

        function openFullImg(pic){
            fullImgBox.style.display = "flex"; 
            fullImg.src = pic;
        }
        function closeFullImg(){
            fullImgBox.style.display = "none";
        }
    </script>
</body>
</html>