{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Website</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">


<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="{% static "images/gndeclogo.png" %}"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="login_page.html">STUDENT INFO</a></li>
                    <li><a href="images/gallery.html">GALLERY</a></li>
                    <li><a href="tindex.html">TURING'S ASSOCIATION</a></li>
                    <li><a href="">ABOUT US</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Information Science And Engineering</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis magnam fugiat error vitae
                dignissimos vero cum illo iste facere.
            </p>
            <a href="login_page.html" class="hero-btn">Sign Up/Login</a>
        </div>
<!-- course -->

    </section>
    <section class="course">
        <h1>DEPARTMENT OVERVIEW</h1>
        <p>Information ScIENCE AND ENGINEERING</p>
        <div class="row">
            <div class="course-col">
                 <h3>VISION</h3>
                <p>"To mould information technologists empowered by values and technologies for the welfare of global society."</p>
            </div>
            <div class="course-col">
                 <h3>Mission</h3>
                <p>The mission of Department of Information Science and Engineering, Guru Nanak Dev Engineering College, Bidar are to: <br>
                    M1: Equip the students with knowledge base of latest technologies to develop novel applications
                    <br> M2: Inculcate professional ethics in students. <br>
                    M3: Motivate and train students to become probable entrepreneurs.</p>
            </div>
            <div class="course-col">
                 <h3>ABOUT Department </h3>
                <p>The department of ISE which came in to being in the year 2000 with the intent of churning out engineering graduates equipp with the right skill set to cater to the booming software industry around. This Department, with an annual intake of 60, boasts of well qualified faculty, well equipped laboratories and smart class rooms, aims to offer it's students the best learning experience.

                    Moreover, guest lectures from the renowned industrial experts, workshops, and assistance offered for internships & placements by the enterprising faculty make it the most preferred destination in this region. Our department alumni placed in some of the top companies like Infosys, TCS, Accenture, cognizant, Dell, Intel and many others, stand testimony to it.</p>
            </div>
        </div>
    </section>
    
    <section class="campus">
        <h1>Our faculty</h1>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        <div class="row">
        <div class="campus-col">
        <img src="{% static "images/hod.jpg" %}">
            <div class="layer">
                <h3>Associate Professor & HOD</h3>
                <H4>Mr. Ramesh H Patil</H4>
            </div>
        </div>
        <div class="campus-col">
            <img src="{% static "images/ise5sangk.jpg" %}">
                <div class="layer">
                    <h3>Asst Professor</h3>
                    <H4>Prof.Sangameshwar Kawdimath</H4>
                </div>
            </div>
            <div class="campus-col">
                <img src="{% static "images/ise8las.jpg" %}">
                    <div class="layer">
                        <h3>Asst Professor</h3>
                        <H4>Prof.Laxman Singh</H4>
                    </div>
                </div>          
        </div>
        
        </section>
        <section class="campus">
               <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            <div class="row">
            <div class="campus-col">
            <img src="{% static "images/ise2hk.jpg" %}">
                <div class="layer">
                    <h3>Asst Professor</h3>
                    <H4>Prof.Hemavathi Patil</H4>
                </div>
            </div>
            <div class="campus-col">
                <img src="{% static "images/ise3v.jpg" %}">
                    <div class="layer">
                        <h3>Asst Professor</h3>
                        <H4>Prof.Vimala Kulkarni</H4>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="{% static "images/ise4sk.jpg" %}">
                        <div class="layer">
                            <h3>Asst Professor</h3>
                            <H4>Prof.Shilpa Tarnalle</H4>
                        </div>
                    </div>          
            </div>
            
            </section>
        </section>
        <section class="campus">
               <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            <div class="row">
            
            <div class="campus-col1">
                <img src="{% static "images/ise1 (1)mn.jpg" %}">
                    <div class="layer">
                        <h3>Assoc.Prof</h3>
                        <H4>Prof.Madhav S Nirgude</H4>
                    </div>
                </div>
                <div class="campus-col1">
                    <img class="ak" src="{% static "images/CS_08ak.jpg" %}">
                        <div class="layer">
                            <h3>Assoc.Prof</h3>
                            <H4>Mr. Anil kumar N Kulkarni</H4>
                        </div>
                    </div>
                    
            </div>
            
            </section>
            <section class="campus">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
             <div class="row">
             
             <div class="campus-col2">
                 <img src="{% static "images/CS_02 dp.jpg" %}">
                     <div class="layer">
                         <h3>Assoc.Prof</h3>
                         <H4>Dr. Dayanand Jamkhandikar</H4>
                     </div>
                 </div>
                 
                     
             </div>
             
             </section>
    <!-- footer  -->
    <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque aliquet turpis nulla, eleifend faucibus est
        sollicitudin ut. Maecenas ut venenatis ex, et dapibus purus.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            </div>
            <p>Made with <i class="fa fa-heart-o"></i> ISE Department</p>
        </section>


</body>

</html>